.listContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    align-items: flex-start;
    margin: 25px 0 0 25px;
    font-weight: 600;
    font-size: 1.3rem;
}

.completed {
    color: #3399cc;
    font-weight: 800;
    font-family: cursive, sans-serif;
}

.listContainer input {
    outline: none;
    font-size: 1.3rem;
    border: 1px solid #3399cc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.listContainer input:focus{
    border: 2px solid red;
}

.listContainer button {
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 5px;
    background: #3399cc;
    color: white;
}
.listContainer button:hover {
    color: #1177aa;
    background: #dddddd;
}

